body {
    font-family: Arial, sans-serif;
}

.tabs {
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Add this line for box shadow */

}

.tab {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    
}

.tab.active {
    border-bottom: 1px solid #4caf50;
    border-radius: 0;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.appointment-card {
    padding: 10px;
    margin: 20px 10px;
    text-align: center;
    background: white;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.appointment-card img {
    max-width: 100px;
    border-radius: 50%;
}

.appointment-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.appointment-header img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.appointment-details{
    text-align: left;
    flex-direction: column;
    gap: 5px;
    
}

.appointment-details p{
    color: #797979;
}

.appointment-buttons{
    display: flex;
    margin-top: 10px;
}

.appointment-buttons a{
    width: 50%;
    border-radius: 30px;
}


.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}



/* Style specific to the Reschedule button */
.reschedule-button {
    background-color: #ffcc00;
    color: #333;
}

/* Style specific to the View Details button */
.view-details-button {
    background-color: #4caf50;
    color: #fff;
}